Jeffrey Berglund

5/18/18

Test_Report.md




A series of tests will need to be implemented in order to ensure the proper individuals are granted permission for Village Housing.

The following is the list of requirements for Village Housing:

*Successfully completing 135 credit hours.

*22 years of age or older.

*Married.

*Single parent (copy of child’s birth certificate required).

One or more of these must be true. Further, priority is given to those individuals that fit into the following:
*Applicants who are married and/or have children and/or are 25 years of age or older

Beyond this, the sites state that applicants are treated on a first come, first served basis.

Therefore, tests should first check if an application is valid at all. If the application is invalid, then it is thrown out. Applications have several items
on them, with age, name, class standing, marital status, if they have children, and contact info(Phone and email).

Item types:

Age: Int
Name: String
Class standing: String
Married: Bool
Children: Bool
Phone: String
Email: String

A series of tests:

We are testing if the items are added correctly to the desired queues. Then if we delete from those properly as well.

ADDITIONS AFTER THE COMPLETION OF THE PROGRAM.
To run the testing, I decided I wanted it to be available in the program proper.
Follow standard compilation instructions, then choose option 4 to test the system. It will return if it is currently operating as intended.
